/* .admin-layout {
  display: flex;
  min-height: 100vh;
  background: #f4f6fb;
}

.admin-content {
  flex: 1;
  padding: 40px 50px;
  background: #f5f7fb;
  overflow-y: auto;
} */
.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: #f5f7fb; /* MOVE background here */
}

/* Sidebar */
.admin-sidebar {
  width: 260px;
  flex-shrink: 0;
}

/* Content */
.admin-content {
  flex: 1;
  padding: 32px 40px;

  /* IMPORTANT FIX */
  background: transparent;
  min-height: unset;
}
