body {
  background: #eef3f9;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding : 0;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #125aa3;
}

.msg {
  color: #444;
  margin-top: 10px;
}

.dashboard {
  text-align: center;
}

.nav-bar {
  text-align: center;
  padding: 15px;
  background: #1976d2;
  color: white;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}


.app-content {
  padding-top: 72px; /* EXACT height of FacultyNavbar */
  min-height: 100vh;
  overflow-anchor: none;
  align-items: left;
}


/* RESET DEFAULT BROWSER MARGINS */
html, body {
  margin: 0;
  padding: 0;
  overflow-anchor: none;
}
